<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}Kapitán: {{ title }}{% else %}Kapitán papírového loďstva{% endif %}</title>

    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='mycss/kapitan_custom.css')}}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <div class="container">
    <a class="navbar-brand nav-link-mine" href="{{ url_for('index') }}">
        <img src="{{url_for('static', filename='svg/kapitan_logo_small.svg')}}" class="img-fluid" width="40" height="40" alt="">
        <b>Kapitán</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for tag in tags %}
                <li class="nav-item" ><a class="nav-link" href="{{ url_for('tagged', tag_id=tag.id) }}">{{ tag.value }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if current_user.is_anonymous %}
    {% else %}
    <div class="nav navbar-nav navbar-right">
        <a class="nav-link nav-link-mine" href="{{ url_for('tags') }}">Tagy</a>
        <form action="{{ url_for('logout') }}" method="post">
            <input type="image" src="{{url_for('static', filename='svg/kapitan_leave.svg')}}" class="img-fluid" width="40" height="40"/>
        </form>
        <form action="{{ url_for('new_post') }}" method="post">
            <input type="image" src="{{url_for('static', filename='svg/kapitan_new_post.svg')}}" class="img-fluid" width="40" height="40"/>
        </form>
    </div>
    {% endif %}
  </div>
</nav>

{% block content %}
    <div class="container basic-background">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/jquery-3.6.0.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
{% endblock %}

</body>
</html>