{% extends "base.html" %}

{% block app_content %}
<html>
    <body>
        {% if section_title %}
            <h3>Články s tagem <b><u>{{ section_title }}</u></b></h3>
        {% else %}
            <h1><b>Arrggh!</b> Poslední drby...</h1>
        {% endif %}
        
        {% if section_body %}
            <div>{{ section_body | safe }}</div>
        {% endif %}

        {% for post in posts %}
            {% include '_post_abstract.html' %}
            <br>
        {% endfor %}
    </body>
</html>
{% endblock %}
